<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" lass="form-comtrol" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" class="form-comtrol" />
          </div>
        </div>
      </div>
      <div class="roww">
        <div class="col-xs-12">
          <img src="" class="image-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-comtrol"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div>
        <ul clas="navbar-nav">
          <li><input type="text" id="amount" class="form-comtrol" /></li>
          <li><input type="number" id="number" class="form-comtrol" /></li>
          <li><button class="btn btn-danger">X</button></li>
        </ul>
      </div>
    </form>
  </div>
</div>
