<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-comtrol"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-comtrol"
            />
          </div>
        </div>
      </div>
      <div class="roww">
        <div class="col-xs-12">
          <img src="" class="image-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-comtrol"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row">
            <div col-xs-12>
              <ul class="navbar-nav">
                <li><input type="text" id="amount" class="form-comtrol" /></li>
                <li>
                  <input type="number" id="number" class="form-comtrol" />
                </li>
                <li><button class="btn btn-danger" id="button">X</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
